@{
    ViewBag.Title = "Summary Report – Specific Country";
}

@model JobScheduling.Model.ReportModel.SpecificCountrySearchM
@section Scripts{
    <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <script src="~/Scripts/Shared/InputSearch.js"></script>
    <script type="text/javascript">
        $(function () {
            //LoadInputSearchData('Description', '/Country/GetAllCountry');
            $("#RegionIDs").attr("onclick", "test();");
        });
        function Report() {
            $.post("/SpecificCountry/CheckData", $("form").serialize(), function (result) {
                if (result) {
                    window.open("/SpecificCountry/PrintReport?" + $("form").serialize());
                } else {
                    alert(" Time format is invalid,Please Enter again !");
                }
            })
        }

        var regionIDStr='';

        //region relate district and store
        function getregionRelateInfo(item) {
            if (item.checked)
            {
                if (regionIDStr.length == 0)
                    regionIDStr += item.value;
                else
                    regionIDStr += ","+item.value;
            }
            if (!item.checked && regionIDStr.length>0)
            {
                if (regionIDStr.indexOf(item.value) == 0) {
                    if (regionIDStr.indexOf(',') > -1)
                        regionIDStr = regionIDStr.replace(item.value + ',', '');
                    else
                        regionIDStr=regionIDStr.replace(item.value, '');
                }
                if (regionIDStr.indexOf(item.value)>0)
                    regionIDStr=regionIDStr.replace(',' + item.value, '');
            }

            $.post('@Url.Action("GetRegionRelateInfo","SpecificCountry")', { regionIDs: regionIDStr }, function (data) {
                $("#StoreCode").empty();
                $("#DistrictID").empty();
                debugger;
                $("#DistrictID").append($('<option></option>').val("").text("---------------------select please---------------------"));
                $.each(data.DistrictList, function (i, item) {
                    $("#DistrictID").append($('<option></option>').val(item.DistrictID).text(item.DistrictDescription));
                });

                $("#StoreCode").append($('<option></option>').val("").text("---------------------select please---------------------"));
                $.each(data.StoreList, function (i, item) {
                    $("#StoreCode").append($('<option></option>').val(item.StoreCode).text(item.StoreLastDescription));
                });
            }).error(function (data) {
                alert('server error');
            });

        }


        // relate dropdownlist
        function getRelateStore(districtItem)
        {
            var districtid = $(districtItem).val();
            $.post('@Url.Action("GetRelateStore","StoreFile")', { districtid: districtid }, function (data) {
                $("#StoreCode").empty();
                $("#StoreCode").append($('<option></option>').val("").text("---------------------select please---------------------"));
                $.each(data, function (i, item) {
                    $("#StoreCode").append($('<option></option>').val(item.StoreCode).text(item.StoreLastDescription));
                });
            }).error(function (data) {
                alert('server error');
            });
        }

        function Excel() {
            $.post("/SpecificCountry/CheckData", $("form").serialize(), function (result) {
                if (result) {
                    window.open("/SpecificCountry/PrintReport?type=2&" + $("form").serialize());
                } else {
                    alert(" Time format is invalid,Please Enter again !");
                }
            })
        }
    </script>
}


@using (Html.BeginForm())
{
    var htmlListInfo = new HtmlListInfo(new HtmlTag());
    <ul class="content_infoview @ViewBag.Title">
        <li>
            <h4>Country </h4>
            @Html.DropDownListFor(z => z.CountryCode,ViewData["countrylist"] as SelectList,"---------------------select please---------------------")
        </li>
         <li>
            <h4>Region </h4>
             @Html.CheckBoxListFor(z => z.Postedregions.RegionIDs,
            z => z.AvailableRegions,
            r => r.RegionID,
            r => r.RegionDescription,
            z => z.SelectedRegions,
            new {@onclick="getregionRelateInfo(this)" },
           new string[]{},
           Position.Horizontal,
           z=>z.Tags  
            )
        </li>
     <li>
        <h4>District</h4>
         @Html.DropDownList("DistrictID", ViewData["districtlist"] as SelectList, "---------------------select please---------------------", new {@onchange="getRelateStore(this)" })
    </li>
        <li>
        <h4>Store</h4>
         @Html.DropDownList("StoreCode",ViewData["descriptionlist"] as SelectList,"---------------------select please---------------------")
    </li>

        <li>
            <h4>Date (YYYYMMDD)</h4>
            @Html.TextBoxFor(z => z.FromDate) to 
                @Html.TextBoxFor(z => z.ToDate)
        </li>

        <li>
            @*<h4>Region </h4>*@
            @*@Html.TextBoxFor(z => z.FromRegion) to 
                @Html.TextBoxFor(z => z.ToRegion)*@
           @* @Html.CheckBoxFor(Z => Z.HongKong) <label for="HongKong">Hong Kong</label>&nbsp;&nbsp;
            @Html.CheckBoxFor(Z => Z.Macau) <label for="Macau">Macau</label>&nbsp;&nbsp;
            @Html.CheckBoxFor(Z => Z.China) <label for="China">China</label>&nbsp;&nbsp;
            @Html.CheckBoxFor(Z => Z.Singapore) <label for="Singapore">Singapore</label>*@
          
        </li>

        <li>
            <a title="Report" id="Report" class="div_print" target="_blank" onclick="Report()" style="color: #A78E55">[ <span></span>Report ]
            </a>

        </li>
        <li>
            <a title="Export to Excel" id="Excel" class="div_print" target="_blank" onclick="Excel()" style="color: #A78E55">[ <span></span>Export to Excel ]
            </a>

        </li>
    </ul>
}