@model JobScheduling.Entity.SecurityModel.ChangePasswordModel
@{
    ViewBag.Title = "修改密码";
}


@section secFunctionBar{
    <div id="divContentFunction">
        <ul class="dark_color5">
            <li>
                <a href="/User/List">
                    <span class="back">
                        <img alt="" src="/Content/Images/ico_common.png" />
                    </span>
                    返回
                </a>
            </li>
        </ul>
    </div>
}

@using (Html.BeginForm())
{
    <ul class="content_infoview Edit">
        <li>
            <h4>原密码</h4>
            @Html.EditorFor(model => model.OldPassword)
            @Html.ValidationMessageFor(model => model.OldPassword)
        </li>
        <li>
            <h4>新密码</h4>
            @Html.EditorFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </li>
        <li>
            <h4>确认新密码</h4>
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </li>
        <li>
            <label id="errorLabel">@Html.ValidationMessage("ErrorMessage")</label>
        </li>
        <li>
            <input type="submit" class="input_ok" value="确定" />
            <input type="button" class="input_back" onclick="window.location.href = '/User/List';" />
        </li>
    </ul>
}