@{
    ViewBag.Title = "Transaction File Detail";
}

@model JobScheduling.Model.FileModel.TransactionFileM

@section secFunctionBar{
    <ul class="dark_color5">
        <li>
            <a href="/TransactionFile/List">
                <span class="back">
                    <img alt="" src="/Content/Images/ico_common.png" />
                </span>
                Back
            </a>
        </li>
    </ul>
}

@using (Html.BeginForm()) { 
    <ul class="content_infoview @ViewBag.Title">
        <li>
            <h4>Serial No </h4>
            <span class="row_detail row_min">@Html.DisplayFor(m=>m.SerialNo)</span>
        </li>
        <li>
            <h4>Store Code</h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.StoreCode)</span>
        </li>
        <li>
            <h4>Document No </h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.DocumentNo)</span>
        </li>
        <li>
            <h4>Region </h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.Region)</span>
        </li>
        <li>
            <h4>Transaction Date </h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.TransactionDate)</span>
        </li>        
        <li>
            <h4>Credit Card No </h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.CreditCardNo)</span>
        </li>
        <li>
            <h4>Base Amount </h4>
            <span class="row_detail row_min">@Html.DisplayFor(m=>m.BaseAmount)</span>
        </li>
        <li>
            <h4>BIN </h4>
            <span class="row_detail row_min">@Html.DisplayFor(m=>m.BIN)</span>
        </li>
        <li>
            <h4>Card Brand </h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.CardBrand)</span>
        </li>
        <li>
            <h4>Issuing Bank </h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.IssuingBank)</span>
        </li>
        <li>
            <h4>Type of Card </h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.TypeofCard)</span>
        </li>
        <li>
            <h4>Category of Card </h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.CategoryofCard)</span>
        </li>
        <li>
            <h4>Issuing Country Code </h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.IssuingCountryCode)</span>
        </li>
        <li>
            <h4>Updated By </h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.UpdatedBy)</span>
        </li>
        <li>
            <input class="input_back" onclick="javascript: window.location = '/TransactionFile/list';" type="button" />
        </li>
    </ul>
}