@{
    ViewBag.Title = "Bin File Detail";
}

@model JobScheduling.Model.FileModel.BinFileM

@section secFunctionBar{
    <ul class="dark_color5">
        <li>
            <a href="/BinFile/List">
                <span class="back">
                    <img alt="" src="/Content/Images/ico_common.png" />
                </span>
                Back
            </a>
        </li>
    </ul>
}

@using (Html.BeginForm()) { 
    <ul class="content_infoview @ViewBag.Title">
        <li>
            <h4>BIN </h4>
            <span class="row_detail row_min">@Html.DisplayFor(m=>m.BIN)</span>
        </li>
        <li>
            <h4>Card Brand </h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.CardBrand)</span>
        </li>
        <li>
            <h4>Issuing Bank </h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.IssuingBank)</span>
        </li>
        <li>
            <h4>Type of Card </h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.TypeofCard)</span>
        </li>
        <li>
            <h4>Category of Card </h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.CategoryofCard)</span>
        </li>
        <li>
            <h4>Issuing Country ISO A2 Code </h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.IssuingCountryISOA2Code)</span>
        </li>
        <li>
            <input class="input_back" onclick="javascript: window.location = '/BinFile/list';" type="button" />
        </li>
    </ul>
}