@{
    ViewBag.Title = "Bin File New";
}

@model JobScheduling.Model.FileModel.BinFileM

@section secFunctionBar{
    <ul class="dark_color5">
        <li>
            <a href="/BinFile/List">
                <span class="back">
                    <img alt="" src="/Content/Images/ico_common.png" />
                </span>
                Back
            </a>
        </li>
    </ul>
}

@using (Html.BeginForm())
{ 
    <ul class="content_infoview @ViewBag.Title">
        <li>
            @Html.ValidationMessage("errormessage")
        </li>
        <li>
            <h4>BIN <span class="requireText">*</span></h4>
            @Html.TextBoxFor(m => m.BIN, new { @Class="input_minlength"})
            @Html.ValidationMessageFor(m => m.BIN)
            <label class="field_description">6 characters</label>
        </li>
        <li>
            <h4>Card Brand </h4>
            @Html.TextBoxFor(m => m.CardBrand, new { @Class="input_largelength"})
            @Html.ValidationMessageFor(m => m.CardBrand)
            <label class="field_description">20 characters</label>
        </li>
        <li>
            <h4>Issuing Bank </h4>
            @Html.TextBoxFor(m => m.IssuingBank, new { @Class="input_largelength"})
            @Html.ValidationMessageFor(m => m.IssuingBank)
            <label class="field_description">30 characters</label>
        </li>
        <li>
            <h4>Type of Card </h4>
            @Html.TextBoxFor(m => m.TypeofCard, new { @Class="input_largelength"})
            @Html.ValidationMessageFor(m => m.TypeofCard)
            <label class="field_description">20 characters</label>
        </li>
        <li>
            <h4>Category of Card </h4>
            @Html.TextBoxFor(m => m.CategoryofCard, new { @Class="input_largelength"})
            @Html.ValidationMessageFor(m => m.CategoryofCard)
            <label class="field_description">20 characters</label>
        </li>
        <li>
            <h4>Issuing Country ISO A2 Code </h4>
            @Html.TextBoxFor(m => m.IssuingCountryISOA2Code, new { @Class="input_largelength"})
            @Html.ValidationMessageFor(m => m.IssuingCountryISOA2Code)
            <label class="field_description">2 characters</label>
        </li>
        
        <li>
            <input type="submit" class="input_ok" value="Ok"/>
            <input class="input_back" onclick="javascript: window.location = '/BinFile/list';" type="button" />
        </li>
    </ul>
}
