@{
    ViewBag.Title = "Export File Data List";
}
@model JobScheduling.Entity.CommModel.PagingModel

@section Scripts{
    <script src="~/Scripts/Shared/Pagination.js"></script>
    <script src="~/Scripts/Shared/CRUD_COMMOM.js"></script>
    <script type="text/javascript">
        //initial Pagecss
        function intialPageCss() {
            Gridview_li_Css(0, 0);
            Gridview_li_Css(1, 10);
            Gridview_li_Css(2, 10);
            Gridview_li_Css(3, 50);
            Gridview_li_Css(4, 15);
            Gridview_li_Css(5, 15);
            Gridview_li_Css(6, 15);
        }
    </script>
}

@section secFunctionBar{
    <ul class="dark_color5">
        <li class="dropdown_pagecount" tabindex="0" role="menuitem">
            @Html.DropDownList("pSize", ViewBag.SizeList as List<SelectListItem>, new { onchange = "ddlSize_onchange()", @class = "select_pagecount" })
        </li>
        <li class="searchTool" tabindex="0" role="menuitem">
            <a href="#">
                <span class="search">
                    <img alt="" src="/Content/Images/ico_common.png" />
                </span>
                Search
            </a>
        </li>

    </ul>
        }

@section secSearchDetails{
        @using (Html.BeginForm())
        {  
        <div class="div_searchcontent">
            <div class="div_userid searchdata">
                <span>Created Day(YYYYMMDD) </span>
                @Html.TextBox("ExportDate")
            </div>
             <div class="div_userid searchdata">
                <span>Kind </span>
                @Html.TextBox("Kind")
            </div>
            <div>
                @Html.HiddenFor(z => z.PageSize)
                @Html.HiddenFor(z => z.PageIndex)
                @Html.HiddenFor(z => z.TotalPages)
            </div>
            <div class="div_btnbar">
                <a href="#" class="ok"  onclick="btnSearch_onclick()">
                    <span>
                        <img alt="" src="/Content/Images/ico_common.png" />
                    </span>
                </a>
                <a href="#" class="reset">
                    <span>
                        <img alt="" src="/Content/Images/ico_common.png" />
                    </span>
                </a>
                <a href="#" class="close">
                    <span>
                        <img alt="" src="/Content/Images/ico_common.png" />
                    </span>
                </a>
            </div>
        </div>
        }
    <div class="div_closesearchbar">
    </div>
}

    @{Html.RenderPartial("~/Views/exportfiledata/_PartialExportFileData.cshtml", Model);}