@{
    ViewBag.Title = "Store File Detail";
}

@model JobScheduling.Model.FileModel.StoreFileM

@section secFunctionBar{
    <ul class="dark_color5">
        <li>
            <a href="/StoreFile/List">
                <span class="back">
                    <img alt="" src="/Content/Images/ico_common.png" />
                </span>
                Back
            </a>
        </li>
    </ul>
}

@using (Html.BeginForm()) { 
    <ul class="content_infoview @ViewBag.Title">
        <li>
            <h4>StoreCode</h4>
            <span class="row_detail row_min">@Html.DisplayFor(m=>m.StoreCode)</span>
        </li>
         <li>
            <h4>StoreDescription</h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.StoreLastDescription)</span>
        </li>
         <li>
            <h4>CountryCode</h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.CountryCode)</span>
        </li>
        <li>
            <h4>DistrictCode</h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.DistrictCode)</span>
        </li>
       
        <li>
            <h4>DistrictDescription</h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.DistrictDescription)</span>
        </li>
                <li>
            <h4>Address</h4>
            <span class="row_detail row_long">@Html.DisplayFor(m => m.Address)</span>
        </li>
        <li>
            <input class="input_back" onclick="javascript: window.location = '/StoreFile/list';" type="button" />
        </li>
    </ul>
}
